### Aplicação do Algoritmo e Criação da Matriz

 - Aqui pra não vamos comparar todos os registros um a um, vamos usar duas colunas **COMPLEMENTO** e **LOGRADOURO**.
 - Vamos tirar uma amostra aleatória (6mil) da base A e vamos comparar par a par as colunas **COMPLEMENTO** e **LOGRADOURO** de ambas as bases. Caso contrario, teríamos 4*( (100mil) * (6mil) ) comparações a se fazer.
 - Esse método irá diminuir o custo do processo.

Imports

In [109]:
import numpy as np
import pandas as pd
import jellyfish

Extração das Bases

In [34]:
#Extraindo as duas bases "Log_Comp_df" faz parte da base B
df_A = pd.read_csv("baseA.csv", na_values = "None", keep_default_na= False)
Log_Comp_df = pd.read_csv("Log_Comp.csv", na_values = "None", keep_default_na= False)

In [73]:
#Selecionamos somente as colunas "Nome_Logradouro" e "Complemento"
df_A = df_A.iloc[:][["Nome_Logradouro","Complemento"]].sample(replace = False, n = 6000)

In [89]:
Log_Comp_df.head(10)

  Nome_Logradouro              Complemento
0    FONTE DO BOI  APARTAMENTO 303 BLOCO B
1    OSWALDO CRUZ
2    FONTE DO BOI        APARTAMENTO ANDAR
3  BARRO VERMELHO  APARTAMENTO 204 BLOCO B
4  BARRO VERMELHO          APARTAMENTO 105
5  AUGUSTO SEVERO
6         TAMOIOS                ANDAR 201
7          ARGOLO
8          MAMUTE
9         VINHAIS          APARTAMENTO 201

In [90]:
df_A.head(10)

               Nome_Logradouro              Complemento
38821           MUNIZ FERREIRA
42402  CARLOS BRANDAO DA SILVA  ANDAR 1 APARTAMENTO 103
24               ODILON SANTOS  BLOCO B APARTAMENTO 104
56132            DAS PEDRINHAS                   CASA 2
96717                   FALCAO         ANDAR 1 QUARTO 2
20620              RESISTENCIA
35988      PENINSULA DO JOANES                   FUNDOS
40099           10 DE DEZEMBRO                   CASA e
74428        REINALDO PRAXEDES                   CASA 3
12452             ANTONIO ROSA    TERREO APARTAMENTO 01

Aplicando o Algoritmo

- Aqui usamos 2 Loops pra iterar sobre a Matriz

In [110]:
#Criação da matriz
matriz_similaridade = np.empty((6000, 2))

#Loop iterar sobre as colunas
for i in range (2): 
    for j in range (6000):  #Loop iterar sobre as linhas
        #Aqui aplicamos o algoritmo e atribuimos na matriz
        matriz_similaridade[j][i] = jellyfish.jaro_similarity(df_A.iloc[j][i], Log_Comp_df.iloc[j][i])

In [111]:
#Transformando matriz em um Dataframe Pandas
df_similaridade = pd.DataFrame(matriz_similaridade, columns=['Coluna1A_Coluna1B', 'Coluna2A_Coluna2B'])

In [112]:
df_similaridade.head()

   Coluna1A_Coluna1B  Coluna2A_Coluna2B
0           0.457937           0.000000
1           0.602657           0.000000
2           0.542735           0.603652
3           0.513919           0.613527
4           0.492063           0.572685

Exportando

In [ ]:
df_similaridade.to_csv("./Bases_Geradas/Matriz_Similaridade.csv")